<div style="margin: 0 auto; margin-top: 50px; width: 90%;" [chart]="chart"></div>

<div style="display: flex; justify-content: center; margin-top: 50px;">
    <mat-form-field appearance="fill" style="width: 400px;">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [rangePicker]="picker">
            <input matStartDate placeholder="Start date" (dateChange)="updateStartDate($event)">
            <input matEndDate placeholder="End date" (dateChange)="updateEndDate($event)">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker [startAt]="date"></mat-date-range-picker>
    </mat-form-field>
</div>

<div style="display: flex; justify-content: center; margin-top: 10px;">
    <button style="margin-right: 10px;" mat-raised-button color="primary" (click)="updateDates()">Update</button>

    <button mat-raised-button color="primary" (click)="resetDates()">Reset</button>
</div>